<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}">
<ol layout:fragment="breadcrumb" class="breadcrumb">
    <li>Student</li>
    <li class="active">Schedule</li>
</ol>
<h1 layout:fragment="title">Schedule</h1>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-8">
            <form action="#">
                <!-- BLOCK START -->
                <div class="panel panel-primary" th:each="entry : ${entries}">
                    <div class="panel-heading">Entry <div th:text="${entry.entryName}"></div></div>
                    <div class="panel-body">
                        <table class="table table-stripped" width="100%">
                            <tr>
                                <th width="20%">
                                    Course name
                                </th>
                                <th width="20%">
                                    Block name
                                </th>
                                <th width="15%">
                                    Start date
                                </th>
                                <th width="15%">
                                    End date
                                </th>
                                <th width="15%">
                                    Seats
                                </th>
                                <th width="15%">
                                    Location
                                </th>
                            </tr>
                            <tbody>
                            <tr th:each="section : ${entry.sectionModelList}">
                                <td th:text="${section.courseFullName}"></td>
                                <td th:text="${section.blockName}"></td>
                                <td th:text="${section.startDate}"></td>
                                <td th:text="${section.endDate}"></td>
                                <td th:text="${section.maxSeats}"></td>
                                <td th:text="${section.location}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- BLOCK END -->
                </div>
            </form>
        </div>
    </div>
</div>
</html>