<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	<ol layout:fragment="breadcrumb" class="breadcrumb">
		<li>Student</li>
	  	<li class="active">Registration</li>
	</ol>
	<h1 layout:fragment="title">Registration</h1>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<form action="#" th:action="@{/student/registration}" method="POST">
					<!-- BLOCK START -->
					<div th:each="rm : ${registrationModels}" class="panel panel-primary">
						<div class="panel-heading" th:text="${rm.name}"></div>
				  		<div class="panel-body">
				    		<table class="table table-stripped">
				    			<tr>
				    				<th>
				    					#
				    				</th>
				    				<th>
				    					Faculty
				    				</th>
				    				<th>
				    					Start date
				    				</th>
				    				<th>
				    					End date
				    				</th>
				    				<th>
				    					Max seats
				    				</th>
				    				<th>
				    					Location
				    				</th>
				    				<th>
				    					Action
				    				</th>
				    			</tr>
				    			<tbody>
				    				<tr th:each="sm, iter : ${rm.sectionModelList}">
				    					<td th:text="${iter.index + 1}"></td>
				    					<td th:text="${sm.facultyFirstName + '' + sm.facultyLastName}"></td>
				    					<td th:text="${sm.startDate}"></td>
				    					<td th:text="${sm.endDate}"></td>
				    					<td th:text="${sm.maxSeats}"></td>
				    					<td th:text="${sm.location}"></td>
				    					<td>
				    						<input type="checkbox" name="sectionIds" th:value="${sm.id}"  />
				    					</td>
				    				</tr>
				    			</tbody>
				    		</table>
				  		</div>
					</div>
					<!-- BLOCK END -->
					<div class="form-group">
						<button type="submit" class="btn btn-success pull-right">
							Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</html>