<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}">
<ol layout:fragment="breadcrumb" class="breadcrumb">
    <li>Schedule</li>
    <li><a href="/admin/schedule">List</a></li>
    <li class="active">Generate Schedule</li>
</ol>
<h1 layout:fragment="title">
    Generate Schedule
</h1>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-6">
            <form action="#" th:action="@{/admin/schedule/generate}" th:object="${schedule}" method="POST">
                <div class="form-group">
                    <label>Entry:</label>
                    <!--<select name="type" th:field="*{entryId}" class="form-control">-->
                        <!--<option value="student">Student</option>-->
                        <!--<option value="faculty">Faculty</option>-->
                        <!--<option value="admin">Admin</option>-->
                    <!--</select>-->
                </div>
                <!--<div class="form-group">-->
                    <!--<label>Username</label>-->
                    <!--<input type="text" name="username" th:field="*{displayName}" class="form-control">-->
                    <!--<span th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{displayName}">-->
							<!--DisplayName Error-->
						<!--</span>-->
                <!--</div>-->
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6"></div>
    </div>
</div>
</html>