<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	<ol layout:fragment="breadcrumb" class="breadcrumb">
		<li>Schedule</li>
	  	<li class="active">List</li>
	</ol>
	<h1 layout:fragment="title">Schedule</h1>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<a href="#" class="btn btn-success">
					<i class="fa fa-plus"></i>
				</a> Generate Schedule
			</div>
		</div>
		<br>
		<div class="table-responsive">
			
		</div>
	</div>
</html>