<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Admin Panel</title>
      	<meta charset="utf-8" />
      	<meta name="viewport" content="width=device-width, initial-scale=1" />
      	<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
      	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}" rel="stylesheet" media="screen" />
	    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen" />
	    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
		    	<div class="navbar-header">
		      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		        		<span class="sr-only">Toggle navigation</span>
		        		<span class="icon-bar"></span>
		        		<span class="icon-bar"></span>
		        		<span class="icon-bar"></span>
		      		</button>
		      		<a class="navbar-brand" href="/main">
		      			<i class="fa fa-calendar"></i> MUM Schedule
	      			</a>
		   	 	</div>
		    	<div id="navbar" class="navbar-collapse collapse">
		      		<ul class="nav navbar-nav navbar-right">
		        		<li class="dropdown">
		              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		              			Hello, [[${#httpServletRequest.remoteUser}]] <span class="caret"></span>
	              			</a>
			              	<ul class="dropdown-menu">
			                	<li>
			                		<a th:href="@{/logout}">
			                			<i class="fa fa-power-off"></i> logout
		                			</a>
	                			</li>
			              	</ul>
			            </li>
		      		</ul>
		    	</div>
		  	</div>
		</nav>
		<div class="container-fluid">
      		<div class="row">
        		<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<th:block th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
							<li th:classappend="${#httpServletRequest.getRequestURI().contains('/admin/user') ? 'active':''}">
								<a href="/admin/user">
									<i class="fa fa-user"></i> User
								</a>
							</li>
							
							<li th:classappend="${#httpServletRequest.getRequestURI().contains('/admin/block') ? 'active':''}">
								<a href="/admin/block">
									<i class="fa fa-th-large"></i> Block
								</a>
							</li>
							
							<li th:classappend="${#httpServletRequest.getRequestURI().contains('/admin/course') ? 'active':''}">
								<a href="/admin/course">
									<i class="fa fa-book"></i> Course
								</a>
							</li>
							
							<li th:classappend="${#httpServletRequest.getRequestURI().contains('/admin/entry') ? 'active':''}">
								<a href="/admin/entry">
									<i class="fa fa-calendar-o"></i> Entry
								</a>
							</li>

							<li th:classappend="${#httpServletRequest.getRequestURI().contains('/admin/section') ? 'active':''}">
								<a href="/admin/section">
									<i class="fa fa-th"></i> Section
								</a>
							</li>
							
							<li th:classappend="${#httpServletRequest.getRequestURI().equals('/admin/schedule') ? 'active':''}">
								<a href="/admin/schedule">
									<i class="fa fa-calendar"></i> Schedule
								</a>
							</li>

                            <li th:classappend="${#httpServletRequest.getRequestURI().equals('/admin/scheduleview') ? 'active':''}">
                                <a href="/admin/scheduleview">
                                    <i class="fa fa-calendar"></i> View Schedule
                                </a>
                            </li>
						</th:block>
						
                        <th:block th:if="${#httpServletRequest.isUserInRole('STUDENT')}">
                            <li th:classappend="${#httpServletRequest.getRequestURI().contains('/student/profile') ? 'active':''}">
                                <a href="/student/profile">
                                    <i class="fa fa-user"></i> Profile
                                </a>
                            </li>

                            <li th:classappend="${#httpServletRequest.getRequestURI().contains('/student/schedule') ? 'active':''}">
                                <a href="/student/schedule">
                                    <i class="fa fa-calendar-o"></i> Schedule
                                </a>
                            </li>

                            <li th:classappend="${#httpServletRequest.getRequestURI().contains('/student/registration') ? 'active':''}">
                                <a href="/student/registration">
                                    <i class="fa fa-calendar-o"></i> Registration
                                </a>
                            </li>
                        </th:block>

						<th:block th:if="${#httpServletRequest.isUserInRole('FACULTY')}">
							<li th:classappend="${#httpServletRequest.getRequestURI().contains('/faculty/profile') ? 'active':''}">
                                <a href="/faculty/profile">
									<i class="fa fa-user"></i> Profile
								</a>
							</li>

                            <li th:classappend="${#httpServletRequest.getRequestURI().contains('/faculty/schedule') ? 'active':''}">
                                <a href="/faculty/schedule">
                                    <i class="fa fa-calendar-o"></i> Schedule
                                </a>
                            </li>
						</th:block>
						
						<!-- Other menus -->
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<ol layout:fragment="breadcrumb" class="breadcrumb"></ol>
          			<h1 layout:fragment="title" class="page-header"></h1>
          			<div layout:fragment="content"></div>
          		</div>	
			</div>
		</div>
    </body>
	<footer layout:fragment="footer"></footer>
</html>