<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	<ol layout:fragment="breadcrumb" class="breadcrumb">
		<li>Course</li>
	  	<li><a href="/admin/course">List</a></li>
	  	<li class="active">Create Course</li>
	</ol>
	<h1 layout:fragment="title">
		Create Course
	</h1>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-6">
				<form action="#" th:action="@{/admin/course/create}" th:object="${course}" 
					method="POST">
					<div class="form-group">
						<label>Prerequisites</label>
						<select th:field="*{prerequisites}" class="form-control" multiple>
							<option th:each="pre : ${prerequisites}" th:value="${{pre}}" th:text="${pre.name + ' (' + pre.number + ')'}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Name</label>
						<input type="text" name="firstName" th:field="*{name}" class="form-control">
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">
							Name Error
						</span>
					</div>
					<div class="form-group">
						<label>Number</label>
						<input type="text" name="number" th:field="*{number}" class="form-control">
						<span th:if="${#fields.hasErrors('number')}" th:errors="*{number}" class="text-danger">
							Number Error
						</span>
					</div>
					<div class="form-group">
						<label>Faculties</label>
						<select th:field="*{faculties}" class="form-control" multiple>
							<option th:each="f : ${faculties}" th:value="${{f}}" th:text="${f.firstName + ' ' + f.lastName}"></option>
						</select>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</html>