<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	<ol layout:fragment="breadcrumb" class="breadcrumb">
		<li>Course</li>
	  	<li class="active">List</li>
	</ol>
	<h1 layout:fragment="title">Courses</h1>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<a href="/admin/course/create" class="btn btn-success">
					<i class="fa fa-plus"></i>
				</a> Create Course
			</div>
		</div>
		<br>
		<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>
						#
					</th>
					<th>
						Prerequisites
					</th>
					<th>
						Name
					</th>
					<th>
						Number
					</th>
					<th>
						Faculties
					</th>
					<th>
						Action
					</th>
				</tr>
				<tbody id="course-list">
					<tr th:each="course, iter: ${courses}">
						<td th:text="${iter.index + 1}"></td>
						<td>
							<th:block th:each="pre: ${course.prerequisites}">
								<span th:text="${pre.name}" class="label label-succes"></span>
							</th:block>
						</td>
						<td th:text="${course.name}"></td>
						<td th:text="${course.number}"></td>
						<td>
							<th:block th:each="faculty: ${course.faculties}">
								<span th:text="${faculty.firstName + ' ' + faculty.lastName} " 
									class="label label-danger"></span>
							</th:block>
						</td>
						<td align="center">
							<div class="btn-group">
               					<a th:href="@{'/admin/course/' + ${course.id} + '/edit'}" class="btn btn-primary" title="edit">
               						<i class="fa fa-edit"></i>
               					</a>
               					<a th:href="@{'/admin/course/' + ${course.id} + '/delete'}" onclick="return confirm('Are you sure to delete?')" class="btn btn-danger" title="delete">
               						<i class="fa fa-trash"></i>
               					</a>
				            </div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</html>