<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	<ol layout:fragment="breadcrumb" class="breadcrumb">
		<li>Course</li>
	  	<li class="active">List</li>
	</ol>
	<h1 layout:fragment="title">Courses</h1>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<a href="/admin/course/create" class="btn btn-success">
					<i class="fa fa-plus"></i>
				</a> Create Course
			</div>
		</div>
		<br>
		<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>
						#
					</th>
					<th>
						Name
					</th>
					<th>
						Number
					</th>
				</tr>
				<tbody id="course-list">
					<tr>
					
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</html>