<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}">
<ol layout:fragment="breadcrumb" class="breadcrumb">
    <li>Entry</li>
    <li><a href="/admin/entry">List</a></li>
    <li class="active">Edit Entry</li>
</ol>
<h1 layout:fragment="title">
    Edit Entry
</h1>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-6">
            <form action="#" th:action="@{'/admin/entry/edit/' + ${entryModel.id}}" th:object="${entryModel}"
                  method="POST">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" th:field="*{name}" class="form-control">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
							Name Error
						</span>
                </div>
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="date" name="startDate" th:field="*{startDate}" class="form-control">
                    <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">
							Start Date Error
						</span>
                </div>
                <div class="form-group">
                    <label>Total number of FPP students.</label>
                    <input type="text" name="nFppStudents" th:field="*{nFppStudents}" class="form-control">
                    <span th:if="${#fields.hasErrors('nFppStudents')}" class="text-danger" th:errors="*{nFppStudents}">
							Total number of FPP students Error
						</span>
                </div>
                <div class="form-group">
                    <label>Total number of MPP students.</label>
                    <input type="text" name="nMppStudents" th:field="*{nMppStudents}" class="form-control">
                    <span th:if="${#fields.hasErrors('nMppStudents')}" class="text-danger" th:errors="*{nMppStudents}">
							Total number of MPP students Error
						</span>
                </div>
                <div class="form-group">
                    <label>Total number of FPP-OPT students.</label>
                    <input type="text" name="nFppOpt" th:field="*{nFppOpt}" class="form-control">
                    <span th:if="${#fields.hasErrors('nFppOpt')}" class="text-danger" th:errors="*{nFppOpt}">
							Total number of FPP-OPT students Error
						</span>
                </div>
                <div class="form-group">
                    <label>Total number of MPP-OPT students.</label>
                    <input type="text" name="nMppOpt" th:field="*{nMppOpt}" class="form-control">
                    <span th:if="${#fields.hasErrors('nMppOpt')}" class="text-danger" th:errors="*{nMppOpt}">
							Total number of MPP-OPT students.
						</span>
                </div>
                <div class="form-group">
                    <label>Total number of US-Residence students.</label>
                    <input type="text" name="usRes" th:field="*{usRes}" class="form-control">
                    <span th:if="${#fields.hasErrors('usRes')}" class="text-danger" th:errors="*{usRes}">
							Total number of US-Residence students.
						</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6"></div>
    </div>

</div>
</html>